* {
  box-sizing: border-box;
}

body {
  background: rgb(94, 130, 183);
  background: radial-gradient(
    circle,
    rgb(63, 199, 251) 0%,
    rgba(252, 30, 47, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  color: white;
  font-family: 'Lobster', cursive;
}

p {
  color: white;
  font-size: 2rem;
  font-family: 'Explora', cursive;
  font-weight: 900;
}

button {
  background-color: white;
  font-size: 16px;
  padding: 24px;
  border-radius: 50%;
  font-family: 'Lobster', cursive;
  border: 2px solid black;
  margin: 10px 10px 50px 10px;
}

.container {
  display: grid;
}
