* {
  box-sizing: border-box;
}

body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

h1 {
  font-size: 3rem;
  color: white;
  font-family: 'Lobster', cursive;
}

p {
  color: white;
  font-size: 2rem;
  font-family: 'Explora', cursive;
  font-weight: 900;
}

button {
  background-color: white;
  font-size: 16px;
  padding: 24px;
  border-radius: 50%;
  font-family: 'Lobster', cursive;
  border: 2px solid black;
}

.container {
  display: grid;
}
